# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

// este comando que você esta digitando e para, ele da uma quebra de linha
insert_final_newline = false
